extends layout
block content
  h1= title
    button.btn(class="btn-primary btn-sm ml-1", style="margin: 5px; width: 120px;", onclick=`dispatch(\"/train/create\")`) Create
  - var results = results
  div(class="container-fluid") 
    div(class="row m-1") 
      each item in results  
        - let destination = `dispatch(\"/train/update?id=${item._id}\")` 
        div(class='card-text', onclick=`buy(${index})`) Train  Name: #{item["train_name"]}  <br>  Train_size: #{item["train_size"]}
          button.btn(class="btn-success btn-sm ml-1", style="margin: 7px; width: 140px;", onclick=`dispatch(\"/train/detail?id=${item._id}\")`) View
          button.btn(class="btn-warning btn-sm ml-1", style="margin: 7px; width: 140px;", onclick= `dispatch(\"/train/update?id=${item._id}\")`) Update
          button.btn(class="btn-danger btn-sm ml-1", style="margin: 7px; width: 140px;", onclick= `dispatch(\"/train/delete?id=${item._id}\")`) Delete 
  script. 
    function dispatch(path){ 
      window.location.href=path 
    }
    passport.use(new LocalStrategy(function(username, password, done) { 
            Account.findOne({ username: username }, function (err, user) { 
            if (err) { return done(err); } 
            if (!user) { 
                return done(null, false, { message: 'Incorrect username.' }); 
            }
            if (!user.validPassword(password)) { 
                return done(null, false, { message: 'Incorrect password.' }); 
            }
            return done(null, user); 
          }); 
      }));





